:root {
    --Pale_blue: hsl(225, 100%, 94%);
    --Brigh-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Red Hat Display', sans-serif;
}
body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}
h1 {
    font-size: 1.5em;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}
p {
    font-size: 1em;
    color: hsl(224, 23%, 55%);
}

.container {
    display: flex;
    flex-direction: column;
    width: 25em;
    height: 620px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    top: 50%;
    background-color: hsl(225, 100%, 98%);
    box-shadow: 0 36px 41px -20px hsl(224, 23%, 55%);
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* margin: 50px auto; */
}
figure img{
    margin-bottom: 30px;
    width: 100%;
}

.order-container {
    display: flex;
    flex-direction: column;
    
}
.p1 {
    margin: 26px auto 41px;
    width: 81%;
}
.annual-plan-container {
    display: flex;
    width: 70%;
    align-self: center;
    align-items: center;
    margin-bottom: 25px;
}
a.change {
    vertical-align: baseline;
    margin-left: auto;
    color: var(--Brigh-blue);
    font-weight: 600;
    font-size: 0.8em;

}
a.change:hover {
    opacity: 0.5;
    text-decoration: none;
    
}
img {
    margin-right: 15px;
}

button.proceed-payment-button {
    width: 78%;
    height: 3.2em;
    align-self: center;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--Brigh-blue);
    color: white;
    margin-bottom: 26px;
    font-weight: bold;
    margin-top: 30px;
    box-shadow: 0 16px 21px -15px hsl(224, 23%, 55%);
}
button.proceed-payment-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.canel-order {
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: 700;
    font-size: 0.9em;
}

.canel-order:hover {
    color:var(--Dark-blue)
}
span {
    font-weight: 700;
    color: black;
}

@media (max-width:375px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
    .container {
        width: 20.3125em;
        height: 566px;
    }
    
}